@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pets Studio</h1>
    <div class="btn-group" role="group">
        <a asp-controller="Pets" asp-action="Index" class="btn btn azure btn-lg">Pets</a>

    </div>
</div>
