@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pets Studio</h1>
    <div class="btn-group" role="group">
        

    </div>

    <h2 class="display-8">Fun facts about pets?</h2>
    <h5 class="display-10">Dogs can hear sound frequencies as high as 45 000 Hz</h5>
    <h5 class="display-10">Goldfish can only remember things for up to 3 months</h5>
    <h5 class="display-10">Rabbits cannot vomit</h5>
    <h5 class="display-10">Dogs can dream just like humans, I guess that's why they are a mans' bestfriend</h5>
</div>
